<html>
<head>
<link rel="stylesheet" type="text/css" href="css_files\styles.css">
<title>Oshud Ano</title>
<link rel="stylesheet" href="vendor\bootstrap.min.css">

</head>
<body>

<div id="header">
  <h2> Store Name </h2>
<h1><img src="img/logo.png" height="100" width="170">OSHUDH ANO</h1>
</div>

<div id="main">
  			<div class="profile-sidebar">
  				<!-- SIDEBAR USERPIC -->
  				<div class="profile-userpic">
            <img src="img/admin.png" style="width:99px;height:99px"; class="img-responsive" alt="">

  				</div>
  				<div class="profile-usertitle">
  					<div class="profile-usertitle-name">
              Admin
            </div>
  					<div class="profile-usertitle-job">
  						Owner
  					</div>
  				</div>
  				<div class="profile-userbuttons">
  					<button type="button" class="btn btn-success btn-sm">Message</button>
  					<button type="button" class="btn btn-danger btn-sm">Logout</button>
  				</div>
  				<div class="profile-usermenu">
  					<ul class="nav">
              <li class="active">
                <a href="index">
                <i class="glyphicon glyphicon-home"></i>
                Dasboard </a>
              </li>
              <li>
                <a href="add_product">
                <i class="glyphicon glyphicon-glass"></i>
                Add Product </a>
              </li>
              <li>
                <a href="manage_product">
                <i class="glyphicon glyphicon-pencil"></i>
                Manage Product </a>
              </li>
              <li>
                <a href="view_invoices">
                <i class="glyphicon glyphicon-file"></i>
                Invoices </a>
              </li>
              <li>
                <a href="payment">
                <i class="glyphicon glyphicon-usd"></i>
                Payment </a>
              </li><li>
                <a href="add_purchase">
                <i class="glyphicon glyphicon-leaf"></i>
                Purchase </a>
              </li><li>
                <a href="stock">
                <i class="glyphicon glyphicon-tag"></i>
                Stock </a>
              </li>
              <li>
                <a href="supplier">
                <i class="glyphicon glyphicon-user"></i>
                Supplier </a>
              </li><li>
                <a href="#">
                <i class="glyphicon glyphicon-gift"></i>
                Profit </a>
              </li>
  					</ul>
  				</div>
  				<!-- END MENU -->
  			</div>
  		</div>





<div id="view">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>  Title </th>
      <th>  Category </th>
      <th>  Status </th>
      <th>  Action </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> Napa </td>
      <td> Paracetamol</td>
      <td> Present</td>
      <td><div>
        <button type="button" class="btn btn-success">EDIT</button>
        <button type="button" class="btn btn-danger">DELETE</button>
      </div>

      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>

</body>
<div id="footer">
<h4>Copyright@2017 all rights reserved.</h4>
<h5> This Product was developed by S.H.I.E.L.D </h5>
</div>

</body>

</html>
