<html>
<head>
<link rel="stylesheet" type="text/css" href="css_files\styles_payment.css">
<title>Oshud Ano</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="vendor\bootstrap.min.css">
  <script src="vendor\jquery.min.js"></script>
  <link rel="stylesheet" href="vendor\3.3.7_bootstrap.min.css">
  <script src="vendor\jquery.min.js"></script>
  <script src="vendor\bootstrap.min.js"></script>
</head>
<body>

<div id="header">

<h1><img src="img/logo.png" height="100" width="170">OSHUDH ANO</h1>
</div>

<div id="main">
  			<div class="profile-sidebar">
  				<!-- SIDEBAR USERPIC -->
  				<div class="profile-userpic">
            <img src="img/admin.png" style="width:99px;height:99px"; class="img-responsive" alt="">

  				</div>
  				<div class="profile-usertitle">
  					<div class="profile-usertitle-name">
              Admin
            </div>
  					<div class="profile-usertitle-job">
  						Owner
  					</div>
  				</div>
  				<div class="profile-userbuttons">
  					<button type="button" class="btn btn-success btn-sm">Message</button>
  					<button type="button" class="btn btn-danger btn-sm">Logout</button>
  				</div>
  				<div class="profile-usermenu">
  					<ul class="nav">
              <li class="active">
  							<a href="index">
  							<i class="glyphicon glyphicon-home"></i>
  							Dasboard </a>
  						</li>
  						<li>
  							<a href="add_product">
  							<i class="glyphicon glyphicon-glass"></i>
  							Add Product </a>
  						</li>
              <li>
                <a href="manage_product">
                <i class="glyphicon glyphicon-pencil"></i>
                Manage Product </a>
              </li>
              <li>
  							<a href="view_invoices">
  							<i class="glyphicon glyphicon-file"></i>
  							Invoices </a>
  						</li>
              <li>
  							<a href="payment">
  							<i class="glyphicon glyphicon-usd"></i>
  							Payment </a>
  						</li><li>
  							<a href="add_purchase">
  							<i class="glyphicon glyphicon-leaf"></i>
  							Purchase </a>
  						</li><li>
  							<a href="stock">
  							<i class="glyphicon glyphicon-tag"></i>
  							Stock </a>
  						</li>
              <li>
  							<a href="supplier">
  							<i class="glyphicon glyphicon-user"></i>
  							Supplier </a>
  						</li><li>
  							<a href="#">
  							<i class="glyphicon glyphicon-gift"></i>
  							Profit </a>
  						</li>
  					</ul>
  				</div>
  				<!-- END MENU -->
  			</div>
  		</div>





<div id="view">
<table class="table table-striped">
    <thead>
      <tr>
        <th>PaymentStatus</th>
        <th>SupplierID</th>
        <th>Name</th>
        <th>TotalBalance</th>
        <th>TotalPaid</th>
        <th>Due</th>
        <th>MakePayment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Due</td>
        <td>14509</td>
        <td>Pharmacy</td>
        <td>5000</td>
        <td>4700</td>
        <td>300</td>
        <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">info</button></td>
        <!-- <div id="myModal" class="modal fade" role="dialog"> -->
          <div class="modal fade" id="myModal" role="dialog">
           <div class="modal-dialog">

             <!-- Modal content-->
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Product Details</h4>
               </div>
               <div class="modal-body">
                 <div class="panel panel-default">
                   <div class="panel-body">
                     <form>
                       <div class="form-group">
                         <label for="text">Total Due:</label>
                         <label> <input type="text" class="form-control" id="email"></label>
                       </div>
                       <div class="form-group">
                         <label for="pwd">Total Paid:</label>
                          <label><input type="text" class="form-control" id="pwd"></label>
                       </div>
                       <div class="form-group">
                         <label for="pwd">New Paid:</label>
                          <label><input type="text" class="form-control" id="pwd"></label>
                       </div>
                       <div class="form-group">
                         <label for="pwd">New Due:</label>
                          <label><input type="text" class="form-control" id="pwd"></label>
                       </div>
                       <button type="submit" class="btn btn-default">Submit</button>
                     </form>
                   </div>
                    </div>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
             </div>

           </div>
         </div>

       </div>

      </tr>
      <tr>

      </tr>
      <tr>

      </tr>
    </tbody>
  </table>

</div>
<div id="footer">
<h4>Copyright@2017 all rights reserved.</h4>

</div>

</body>
</html>
