<html>
<head>
<link rel="stylesheet" type="text/css" href="user_buy_med.css">
<title>Oshud Ano</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="vendor\bootstrap.min.css">
<link rel="stylesheet" href="vendor\3.3.7_bootstrap.min.css">
<script src="vendor\jquery.min.js"></script>
<script src="vendor\bootstrap.min.js"></script>
</head>
<body>

<div id="header">

<h1><img src="img/logo.png" height="100" width="170">OSHUDH ANO</h1>
</div>

<div id="main">
  			<div class="profile-sidebar">
  				<!-- SIDEBAR USERPIC -->
  				<div class="profile-userpic">
            <img src="img/admin.png" style="width:99px;height:99px"; class="img-responsive" alt="">

  				</div>
  				<div class="profile-usertitle">
  					<div class="profile-usertitle-name">
              User
            </div>
  					<div class="profile-usertitle-job">
  						UserName
  					</div>
  				</div>
  				<div class="profile-userbuttons">
  					<!-- <button type="button" class="btn btn-success btn-sm">Message</button> -->
  					<button type="button" class="btn btn-danger btn-sm">Logout</button>
  				</div>
  				<div class="profile-usermenu">
  					<ul class="nav">
  						<li class="active">
  							<a href="#">
  							<i class="glyphicon glyphicon-home"></i>
  							Dasboard </a>
  						</li>
  						<li>
  							<a href="#">
  							<i class="glyphicon glyphicon-euro"></i>
  							Search & Buy Medicine </a>
  						</li>

  						<li>
  							<a href="#">
  							<i class="glyphicon glyphicon-usd"></i>
  							Pre-Order </a>
  						</li>
              <li>
  							<a href="#">
  							<i class="glyphicon glyphicon-user"></i>
  							policy </a>
  						</li>
  					</ul>
  				</div>
  				<!-- END MENU -->
  			</div>
  		</div>





<div id="view">

  <div class="panel panel-default">
<div class="panel-body">
  <h2>Select Category</h2>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">category
  <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
    <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li> -->
    <!-- s<li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li> -->


  </ul>
</div>

  <!-- <button type="button" class="btn btn-danger">Medicine List & Amount</button> -->
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Medicine List & Amount</button>

      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Store Name</h4>
        </div>
      <div class="modal-body">
        <table class="table table-condensed">
  <thead>
    <tr>
      <th>Medicine Name</th>
      <th>Amount</th>
      <th>Per Price</th>
      <th>Total</th>


    </tr>
  </thead>
  <tbody>
    <tr>
  <td><form>
      <label class="radio-inline">
      <input type="radio" name="optradio">Napa
      </label>
  </td>
  <td>
    <form>
      <div class="form-group">
        <!-- <label for="usr">Name:</label> -->
        <input type="text" class="form-control" id="usr">
      </div>
  </td>
    </tr>
    <tr></tr>

  </tbody>
</table>
      <button type="button" class="btn btn-default" data-dismiss="modal">Buy</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      </div>
      </div>

        </div>
      </div>


</div>
</div>
</div>

</div>



<div id="footer">
<h4>Copyright@2017 all rights reserved.</h4>

</div>

</body>
</html>
