<%include header%>





<div id="view">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>  Title </th>
      <th>  Category </th>
      <th>  Status </th>
      <th>  Action </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> Napa </td>
      <td> Paracetamol</td>
      <td> Present</td>
      <td><div>
        <button type="button" class="btn btn-success">EDIT</button>
        <button type="button" class="btn btn-danger">DELETE</button>
      </div>

      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>

<%include footer%>

</html>
