<html>
<head>
<link rel="stylesheet" type="text/css" href="user_styles.css">
<title>Oshud Ano</title>
<link rel="stylesheet" href="E:\CSE\CSC 455\Assignment\Admin panel new\bootstrap_files\bootstrap.min.css">

</head>
<body>

<div id="header">

<h1><img src="img/logo.png" height="100" width="170">OSHUDH ANO</h1>
</div>

<div id="main">
  			<div class="profile-sidebar">
  				<!-- SIDEBAR USERPIC -->
  				<div class="profile-userpic">
            <img src="img/admin.png" style="width:99px;height:99px"; class="img-responsive" alt="">

  				</div>
  				<div class="profile-usertitle">
  					<div class="profile-usertitle-name">
              User
            </div>
  					<div class="profile-usertitle-job">
  						UserName
  					</div>
  				</div>
  				<div class="profile-userbuttons">
  					<!-- <button type="button" class="btn btn-success btn-sm">Message</button> -->
  					<button type="button" class="btn btn-danger btn-sm">Logout</button>
  				</div>
  				<div class="profile-usermenu">
  					<ul class="nav">
              <li class="active">
  							<a href="user_index.html">
  							<i class="glyphicon glyphicon-home"></i>
  							Dasboard </a>
  						</li>
  						<li>
  							<a href="user_buy_med.html">
  							<i class="glyphicon glyphicon-euro"></i>
  							Search & Buy Medicine </a>
  						</li>

  						<li>
  							<a href="user_pre_order.html">
  							<i class="glyphicon glyphicon-usd"></i>
  							Pre-Order </a>
  						</li>
              <li>
  							<a href="#">
  							<i class="glyphicon glyphicon-user"></i>
  							policy </a>
  						</li>
  					</ul>
  				</div>
  				<!-- END MENU -->
  			</div>
  		</div>





<div id="view">

    <div class="form-group">
  <label>Enter Location</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
  <label>OR</label>
</div>

  <button type="button" class="btn btn-danger">Turn on Location</button>
</div>

</div>

<div id="footer">
<h4>Copyright@2017 all rights reserved.</h4>

</div>

</body>
</html>
